{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block stylesheets %}

<style>
background-color: #fbfffe;
    
*{
    font-family: 'Poppins';
}
.encadre{
    background-color: #cafafe;
    
}
</style>

{% endblock %}

{% block body %}



<div class="example-wrapper">
    <a href="{{path('app_login')}}">
    <button class="login-btn" >Login</button>
    </a>

    <a href="{{path('app_register')}}">
    <button class="register-btn" >Register</button>
    </a>


    <h1>Articles</h1>

    
    {% for article in articles %}
        <div class='encadre'>
            <a href="/article/{{article.id}}">{{article.title}}</a>
            <h4>{{article.author}}</h4>
        </div>

    {% endfor %}    

</div>
{% endblock %}
